/* Colton was here */
#game.on {
  background-size: cover;
  image-rendering: pixelated;
  background-position: center;
  color: #cbdbfc;
}

.thing-icon {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.thing {
  border-radius: 32px;
  background: hsla(318, 74%, 10%, 0.688);
}

.box-header {
  border-radius: 32px;
  border-width: 0;
  background: hsla(250, 74%, 25%, 0.688);
  background: linear-gradient(
    to bottom,
    rgba(83, 1, 1, 0.571) 0%,
    rgba(36, 2, 42, 0) 100%
  );
}
#box-resource {
  position: fixed;
  top: 5%;
  left: 0px;
  width: 60%;
  height: 35px;
}

#box-buildings {
  background-color: rgba(0, 255, 255, 0.03);
  position: fixed;
  top: 0%;
  right: 0px;
  width: 40%;
  height: 40%;
}
#box-upgrades {
  position: fixed;
  top: 40%;
  right: 0px;
  width: 40%;
  height: 40%;
  background-color: rgba(0, 255, 255, 0.03);
}
#box-achievements {
  position: fixed;
  top: 80%;
  left: 0px;
  width: 100%;
  min-height: 20%;
  background-color: hsla(180, 100%, 25%, 0.361);
}
